.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
}

/* Header */

/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
}
.name-title{
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px; }

.btn-resume-download {
    color: rgb(73, 73, 73);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
} 
nav ul li {
    list-style: none;
    width: 228px;
    height: 58px;
}
/* Banner */
.banner{
    background-image: url(../img/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-img{
    display: flex;
    justify-content: center;
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
}
.banner-heading{
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.banner-descrip{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.btn-contactme{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-align: center;
    padding: 10px;
}
div a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    text-decoration: none;
    margin: 0 auto;
}
/* Main section style start */
.why-web-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 154px;
}
.why-web-h3{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.why-web-p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
/*  */
.secont-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 5px;
}
.leftside-div1 {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leftside-div1 h3{
    font-family: Azeret Mono;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-left: 150px;
}
.leftside-div1 p{
    font-family: Azeret Mono;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-left: 250px;
}
.leftside-div1 button{
    width: 150px;
    height: 48px;
    /* padding: 12px 20px 12px 20px; */
    margin: 32px 0px;
    border: 1px solid rgb(13, 19, 33);
    /* text-align: left; */
}
.btn-learn{
    font-family: Azeret Mono;
font-size: 18px;
font-weight: 600;
text-align: center;
}
.rightside-div1{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside-div1 img{
    width: 274.17px;
height: 240px;
}

.rightside-div2{
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 260px;
}
.leftside-div2 {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftside-div2 h3{
        font-family: Azeret Mono;
        color: rgba(13, 19, 33, 0.7);
        font-size: 24px;
        font-weight: 700;
        margin-right: 450px;
}
.leftside-div2 p{
        font-family: Azeret Mono;
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        margin-right: 500px;
}
.leftside-div2 button{
        width: 150px;
        height: 48px;
        margin-right: 750px;
        /* padding: 12px 20px 12px 20px; */
        /* margin: 32px 0px; */
        border: 1px solid rgb(13, 19, 33);
        /* text-align: left; */
    }
    .btn-learn{
        font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    }
/* My inspiration */
.my-inspiration-con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 154px;
}
.my-inspiration-con h3{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.my-inspiration-con p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
/* Youtube Video */
.youtube-video iframe{
    align-items: center;
    margin-left: 250px;
    border-radius: 16px;
    margin-top: 80px;
}
.skills-contan{
    display: flex;
    /* gap: 5px; */
}
.skill{
    padding: 90px ;
    margin: 0 auto;
    /* margin-left: 30px; */
    /* margin-right: 50px; */
}
.skill h4{
    font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
}
.skill p{
    font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.skill img{
    width: 39.68px;
height: 45px;
}
.skill a{
    font-family: Azeret Mono;
    list-style: none;
    color: black;
    font-size: 16px;
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* margin-right: 250px; */
}
/* MY next target */
.my-next-target-con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}
.my-next-target-con h3{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.my-next-target-con p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.three-section-div{
    display: flex; 
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;  */
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 25px;
} 
.three-leftside{
    width: 10%; 
    /* height: 140px; */
    display: flex;
    flex-direction: column;
    width: 94.78px;
    height: 108px;
    margin: 0px 24px;
    margin-top: 50px; 
 justify-content: flex-start;
align-items: flex-start; 
}
.three-rightside{
    width: 90%;
    /* height: 140px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 
.three-rightside h3{
    font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
} 
.three-rightside p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
} 
.three-rightside a {
    font-family: Azeret Mono;
    list-style: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-inline-start: 1px;
    text-align: left;
}
.three-leftside1{
    width: 15%; 
    /* height: 140px; */
    display: flex;
    flex-direction: column;
    width: 94.78px;
    height: 108px;
    margin: 0px 24px;
    margin-top: 50px; 
 justify-content: flex-start;
align-items: flex-start; 
}
.three-rightside1{
    width: 85%;
    /* height: 140px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
} 
.three-rightside1 h3{
    font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
margin-left: 50px;
text-align: left;
} 
.three-rightside1 p{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
} 
.three-rightside1 a {
    font-family: Azeret Mono;
    list-style: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    margin-inline-start: 1px;
    text-align: left;
}
/* Footer section star here */
.footer-container{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../img/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
}
.footer-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer-container-content h2{
    color: white;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
}
.footer-container-content p{
    color: white;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
.footer-input{
    width: 548px;
height: 57px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin: 0px 16px;
margin-top: 10px;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.footer-input2{
    width: 120px;
height: 58px;
 display: flex; 
 flex-direction: column;
justify-content: center;
align-items: center; 
padding: 17px 20px 17px 20px;
border-radius: 8px;
background: rgb(255, 255, 255);
margin-top: 10px;
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.input-div{
    display: flex;
    justify-content: center;
}
.input-container input {
    margin: 5px; 
}
.last-div{
    display: flex;
flex-direction: row;
align-items: center; 
margin-top: 80px;

/* justify-content: space-around; */
}
.last-div p{
    justify-content: flex-start;
    margin-left: 190px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.last-div2{
    display: flex;
flex-direction: row;
/* justify-content: flex-end; */
margin-left: 540px;
gap: 10px;
}